<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/layout :: head(${'A.M. Admin | Coupons'})">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="layout/layout-admin :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:insert="layout/layout-admin :: navbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Lista de Pedidos</h1>
                <p class="mb-4">Controle de Pedidos</p>

                <div class="d-flex flex-wrap">
                    <div class="col-12 col-md-3 mb-3">
                        <div class="card shadow">
                            <div class="card-header py-3 d-flex flex-wrap justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Filtro</h6>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label>Numero do Pedido</label>
                                        <input class="form-control" placeholder="000001" id="order_id">
                                    </div>

                                    <div class="form-group">
                                        <label>Valor da compra até:</label>
                                        <input class="form-control" placeholder="500" id="value">
                                    </div>

                                    <div class="form-group">
                                        <label>Data da compra</label>
                                        <input class="form-control" placeholder="São Paulo" type="date" id="purchase_date">
                                    </div>

                                    <div class="form-group">
                                        <label>Conteúdo comprado contém:</label>
                                        <input class="form-control" placeholder="Resident Evil 3" id="content_value">
                                    </div>

                                    <div class="form-group">
                                        <label>Status:</label>
                                        <select class="form-control" id="status">
                                            <option>Entregue</option>
                                            <option>Em Processo</option>
                                            <option>Aprovado</option>
                                            <option>Recusado</option>
                                        </select>
                                    </div>

                                    <button class="btn btn-block btn-success">Pesquisar</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-9">
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Pedidos</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Numero do Pedido</th>
                                            <th>Valor da compra</th>
                                            <th>Data da compra</th>
                                            <th>Conteúdo comprado</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="order : ${orders}">
                                            <td th:text="${order.id}">000001</td>
                                            <td th:text="${order.total}">R$: 520,00</td>
                                            <td th:text="${order.createdAt}">20/02/2021 10:53</td>
                                            <td class="d-flex flex-column" th:each="item : ${order.itemList}">
                                                <span class="mb-2"
                                                      th:text="${item.game.title}
                                                      + 'R$: ' + ${item.game.price} + ' * ' + ${item.amount}"></span>
                                            </td>
                                            <td>
                                                <select class="form-control"
                                                        onchange="changeStatusOrder(event)" th:data="${order.id}">
                                                    <option data-toggle="tooltip" data-placement="top"
                                                            th:each="status : ${statuses}"
                                                            th:value="${status.id}"
                                                            th:text="${status.status}"
                                                            th:title="${status.status}"
                                                            th:selected="${order.status.id == status.id}"
                                                    ></option>
                                                </select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; A.M Store 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="layout/layout :: modal_logout"></div>

<script th:replace="layout/layout :: script"></script>

<script>
    function changeStatusOrder(event){
        console.log(event)

        let url = window.location.href + "/changestatusorder";

        let form_data = {
            statusId: event.target.value,
            orderId: event.target.attributes.data.value
        }

        $.ajax({
            method: "POST",
            url: url,
            data: form_data
        }).done(function (data) {
            alert('Alterado com sucesso!')
        }).fail((resp) => {
            console.log(resp);
        });
    }
</script>

</body>

</html>