<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/layout :: head(${'A.M. Admin | Listagem Clientes'})">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="layout/layout-admin :: sidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:insert="layout/layout-admin :: navbar"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Lista de Jogos</h1>
                    <p class="mb-4">Controle de estoque dos jogos disponiveis</p>

                    <div class="d-flex flex-wrap">
                        <div class="col-12 col-md-3 mb-3">
                            <div class="card shadow">
                                <div class="card-header py-3 d-flex flex-wrap justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Filtro</h6>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label>Título do Jogo:</label>
                                            <input class="form-control" placeholder="Call of Duty" id="title">
                                        </div>

                                        <div class="form-group">
                                            <label>Plataforma:</label>
                                            <select class="form-control" id="platform">
                                                <option>Selecione</option>
                                                <option>PS4</option>
                                                <option>PC</option>
                                                <option>Xbox</option>
                                                <option>Nintendo Switch</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Valor até:</label>
                                            <input class="form-control" placeholder="500" id="price">
                                        </div>

                                        <div class="form-group">
                                            <label>Multiplayer:</label>
                                            <select class="form-control" id="multiplayer">
                                                <option>Selecione</option>
                                                <option>Sim</option>
                                                <option>Não</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Gênero:</label>
                                            <input class="form-control" placeholder="Ação" id="gender">
                                        </div>

                                        <div class="form-group">
                                            <label>Distribuidora:</label>
                                            <input class="form-control" placeholder="Activision" id="publisher">
                                        </div>

                                        <div class="form-group">
                                            <label>Lançamento:</label>
                                            <input class="form-control" type="date" id="launch_date">
                                        </div>

                                        <div class="form-group">
                                            <label>Quantidade em estoque:</label>
                                            <input class="form-control" placeholder="10" type="number" id="amount">
                                        </div>

                                        <button class="btn btn-block btn-success">Pesquisar</button>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <div class="col col-md-9">
                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Jogos</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Valor</th>
                                                <th>Genêro</th>
                                                <th>Distribuidora</th>
                                                <th>Lançamento</th>
                                                <th>Estoque</th>
                                                <th>Edição</th>
                                                <th>Exclusão</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Cyberpunk</td>
                                                <td>R$320.80</td>
                                                <td>RPG</td>
                                                <td>CDPROJECT</td>
                                                <td>2021/06/06</td>
                                                <td>100</td>
                                                <td class="m-auto">
                                                    <a th:href="@{/admin/games/new}" class="btn btn-outline-info">
                                                        <i class="fas fa-pencil-alt"></i>
                                                        <span> editar</span>
                                                    </a>
                                                </td>
                                                <td class="m-auto">
                                                    <a class="btn btn-outline-danger">
                                                        <i class="fas fa-trash-alt"></i>
                                                        <span>excluir</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="layout/layout :: script"></script>
</body>

</html>