<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/layout :: head(${'A.M. Admin | Jogos'})"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="layout/layout-admin :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:insert="layout/layout-admin :: navbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Cadastrar Cupom</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Formulário</h6>

                        <div class="row">
                            <div class="col-12 mt-4">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-3 form-group">
                                            <label for="expire_at">Data de Validade:</label>
                                            <input type="date" class="form-control" required id="expire_at">
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for="value">Valor:</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="180,00" id="game_price" required id="value">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for="amount">Quantidade:</label>
                                            <input type="text" class="form-control" placeholder="100" required id="amount">
                                        </div>

                                        <div class="col-lg-3 form-group">
                                            <label for="code">Código:</label>
                                            <input type="text" class="form-control" placeholder="VALE10" required id="code">
                                        </div>

                                        <div class="form-group col-12">
                                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<script th:replace="layout/layout :: script"></script>
<script>
    $('#game_price').mask("#.##0,00", {reverse: true});

    $('#inputGroupFile04').change(function() {
        var i = $(this).prev('label').clone();
        var file = $('#inputGroupFile04')[0].files[0].name;
        $(this).prev('label').text(file);
    });
</script>
</body>

</html>