<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:insert="layout/layout :: head(${'A.M. Store | Checkout'})">
  </head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="container-fluid">
      <div id="content-wrapper" class="d-flex flex-column">
        <nav th:insert="layout/layout :: navbar"></nav>
        <!-- Main Content -->
        <div id="content">
          <!-- Begin Page Content -->
          <div class="container">
            <table class="table-responsive w-100 table d-block d-md-table table-hover mt-4 mb-4">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Jogo</th>
                <th scope="col">Plataforma</th>
                <th scope="col">Quantidade</th>
                <th scope="col" colspan="2">Valor</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Resident Evil 3</td>
                <td>PS4</td>
                <td>1</td>
                <td>R$: 350,00</td>
                <td><i class="fas fa-trash"></i> Excluir</td>
              </tr>
              </tbody>
          </table>

            <div class="d-flex justify-content-around flex-wrap">
              <div class="d-flex justify-content-between flex-wrap col-12">
                <div class="p-4 rounded bg-form col-12 col-md-6" id="usuario">
                  <form class="">
                    <h5 class="text-center">Dados Pessoais</h5>
                    <hr />

                    <small th:class="${customer.documents.isEmpty() || customer.address.isEmpty()} ? 'd-block text-justify text-info' : 'd-none'">
                      Para darmos sequência no pagamento é necessários alguns dados, será rapidinho, prometo :D
                    </small>

                    <div class="form-group">
                      <label for="document">Documento</label>
                      <select id="document" class="form-control" required>
                        <option value="">Selecione o documento</option>
                        <option th:each="document : ${customer.documents}" th:value="${document.id}" th:text="${document.documentType.name} + ': ' + ${document.code}"></option>
                        <option value="-1">Cadastre um novo</option>
                      </select>
                    </div>

                    <fieldset id="new_document_form" class="d-none">
                      <div class="form-group mt-2">
                        <label for="document_type">Tipo Documento:</label>
                        <select id="document_type" class="form-control" required>
                          <option value="">Selecione o tipo</option>
                          <option th:each="type : ${documentTypes}" th:value="${type.id}" th:text="${type.name}"></option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="new_validate">Data expedição:</label>
                        <input type="date" class="form-control" id="new_validate" placeholder="validade" required>
                      </div>

                      <div class="form-group">
                        <label for="new_document_code">Número:</label>
                        <input type="text" class="form-control" id="new_document_code" placeholder="Número" required>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-success">Salvar Documento</button>
                      </div>
                    </fieldset>

                    <div class="form-group">
                      <label for="name">Nome Completo</label>
                      <input
                              type="text"
                              class="form-control"
                              id="name"
                              aria-describedby="logradoutoHelp"
                              placeholder="Nome exemplo"
                              th:value="${customer.name}"
                              disabled
                      />
                    </div>

                    <div class="form-group">
                      <label for="telephone"
                      >Telefone para contato</label
                      >
                      <input
                              type="text"
                              class="form-control"
                              id="telephone"
                              aria-describedby="logradoutoHelp"
                              placeholder="(11) 91234-5678"
                              th:value="${customer.telephone}"
                              disabled
                      />
                    </div>

                    <div class="d-flex flex-wrap justify-content-between">
                      <button type="submit" class="btn btn-warning">
                        Voltar
                      </button>

                      <button
                              type="submit"
                              class="btn btn-primary"
                              onClick="proximoPasso(event)"
                      >
                        Próximo
                      </button>
                    </div>
                  </form>
                </div>

                <div class="p-4 rounded bg-form col-12 col-md-6 d-none" id="delivery_address">
                  <form class="">
                    <h5 class="text-center">Endereço de Entrega</h5>
                    <hr />
                    <div class="form-group">
                      <label for="delivery_address_selector"
                        >Selecione um endereço</label
                      >
                      <select id="delivery_address_selector" class="form-control" th:field="${customer.address}" >
                        <option value="">Escolha um endereço de entrega</option>
                        <th:block th:if="${!customer.address.isEmpty()}">
                          <option data-toggle="tooltip" data-placement="top"
                                  th:each="address : ${customer.address}"
                                  th:value="${address.id}"
                                  th:text="${address.street}"
                                  th:title="${address.street}"
                                  th:if="${address.addressType.getId() == 1}"
                          >
                          </option>
                        </th:block>
                        <option value="-1">
                          Cadastre um novo endereço
                        </option>
                      </select>
                    </div>

                    <fieldset id="new_delivery_address" class="d-none">
                      <div class="form-group">
                        <label for="new_delivery_postalcode">CEP</label>
                        <input
                          type="text"
                          class="form-control"
                          id="new_delivery_postalcode"
                          aria-describedby="logradoutoHelp"
                          placeholder="01234-456"
                        />
                      </div>

                      <div class="form-group">
                        <label for="new_delivery_street">Logradouro</label>
                        <input
                          type="text"
                          class="form-control"
                          id="new_delivery_street"
                          aria-describedby="logradoutoHelp"
                          placeholder="Avenida Orquídeas, 123"
                        />
                      </div>

                      <div class="form-group">
                        <label for="new_delivery_city">Cidade</label>
                        <input
                          type="text"
                          class="form-control"
                          id="new_delivery_city"
                          aria-describedby="logradoutoHelp"
                          placeholder="Mogi das Cruzes"
                        />
                      </div>

                      <div class="form-group">
                        <label for="new_delivery_state">Estado</label>
                        <input
                          type="text"
                          class="form-control"
                          id="new_delivery_state"
                          aria-describedby="logradoutoHelp"
                          placeholder="São Paulo"
                        />
                      </div>
                    </fieldset>

                    <div class="d-flex flex-wrap justify-content-between">
                      <button type="submit" class="btn btn-warning">
                        Voltar
                      </button>

                      <button
                        type="submit"
                        class="btn btn-primary"
                        onclick="proximoPasso2(event)"
                      >
                        Próximo
                      </button>
                    </div>
                  </form>
                </div>


                <div
                  class="p-4 rounded bg-form col-12 col-md-6 d-none"
                  id="cartao"
                >
                  <form class="">
                    <h5 class="text-center">Cartões</h5>
                    <hr />
                    <div class="form-group">
                      <label for="card"
                        >Selecione um cartão</label
                      >
                      <select class="custom-select" id="card">
                        <option value="1">Cartão Favorito</option>
                        <option value="2">cart 2</option>
                        <option value="3">cart 3</option>
                        <option value="3">Cadastrar Novo</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="card_number">Número</label>
                      <input
                        type="text"
                        class="form-control"
                        id="card_number"
                        aria-describedby="logradoutoHelp"
                        placeholder="0000-0000-0000-0000"
                      />
                    </div>

                    <div class="form-group">
                      <label for="card_name">Nome Impresso</label>
                      <input
                        type="text"
                        class="form-control"
                        id="card_name"
                        aria-describedby="logradoutoHelp"
                        placeholder="Mateus J Faria"
                      />
                    </div>

                    <div class="form-group">
                      <label for="card_flag">Bandeira</label>
                      <input
                        type="text"
                        class="form-control"
                        id="card_flag"
                        aria-describedby="logradoutoHelp"
                        placeholder="MasterCard"
                      />
                    </div>

                    <div class="form-group">
                      <label for="card_cc">Validade</label>
                      <input
                        type="text"
                        class="form-control"
                        id="card_cc"
                        aria-describedby="logradoutoHelp"
                        placeholder="12/29"
                      />
                    </div>

                    <div class="d-flex flex-wrap justify-content-between">
                      <button type="submit" class="btn btn-warning">
                        Voltar
                      </button>

                      <button
                        type="submit"
                        class="btn btn-primary"
                        onclick="proximoPasso2(event)"
                      >
                        Próximo
                      </button>
                    </div>
                  </form>
                </div>

                <div class="p-4 rounded bg-form col-12 col-md-5 mt-5 mt-md-0">
                  <div class="">
                    <h5 class="text-center">Resumo do pedido</h5>
                    <hr />
                    <div class="d-flex flex-wrap justify-content-between">
                      <span>1 produto</span>
                      <span>R$ 300,00</span>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between">
                      <span>Frete</span>
                      <span>R$ 20,00</span>
                    </div>
                    <hr />
                    <div class="d-flex flex-wrap justify-content-between">
                      <h5 class="font-weight-bold">Total + frete:</h5>
                      <span class="font-weight-bold">R$: 320,00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; A.M Store 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <th:block th:insert="layout/layout :: modal_logout"></th:block>

    <script th:replace="layout/layout :: script"></script>
  </body>
  <script>
    function proximoPasso(event) {
      event.preventDefault();
      document.getElementById("usuario").addEventListener("click", function () {
        document.getElementById("delivery_address").classList.remove("d-none");
        document.getElementById("delivery_address").classList.add("d-block");
        this.classList.add("d-none");
        this.classList.remove("d-block");
      });
    }

    function proximoPasso2(event) {
      event.preventDefault();
      document
        .getElementById("delivery_address")
        .addEventListener("click", function () {
          document.getElementById("cartao").classList.remove("d-none");
          document.getElementById("cartao").classList.add("d-block");
          this.classList.add("d-none");
          this.classList.remove("d-block");
        });
    }

    $("#document_type").change(function () {
      switch (this.value){
        case "1":
          $("#new_document_code").mask('00.000.000-0')
          break;
        case "2":
          $("#new_document_code").mask('000.000.000-00')
          break;
        case "3":
          $("#new_document_code").mask('00.000.000/0000-00')
          break;
      }
    })

    $("#document").change(function () {
      if(this.value == "-1") {
        $("#new_document_form").removeClass('d-none');
        $("#new_document_form").addClass('d-block');
      } else {
        $("#new_document_form").removeClass('d-block');
        $("#new_document_form").addClass('d-none');
      }
    })

    $("#delivery_address_selector").change(function () {
      if(this.value == '-1') {
        $("#new_delivery_address").removeClass('d-none')
        $("#new_delivery_address").addClass('d-block')
      } else {
        $("#new_delivery_address").removeClass('d-block')
        $("#new_delivery_address").addClass('d-none')
      }
    })
  </script>
</html>
