<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:insert="layout/layout :: head(${'A.M. Store | Checkout'})">
  </head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="container-fluid">
      <div id="content-wrapper" class="d-flex flex-column">
        <nav th:insert="layout/layout :: navbar"></nav>
        <!-- Main Content -->
        <div id="content">
          <!-- Begin Page Content -->
          <div class="container">
            <table class="table-responsive w-100 table d-block d-md-table table-hover mt-4 mb-4">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Jogo</th>
                <th scope="col">Plataforma</th>
                <th scope="col">Quantidade</th>
                <th scope="col" colspan="2">Valor</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="item : ${customer.cart.itemList}">
                <th scope="row" th:text="${customer.cart.itemList.indexOf(item)}">1</th>
                <td th:text="${item.game.title}">Resident Evil 3</td>
                <td th:text="${item.game.platform.name}">PS4</td>
                <td>
                  <input class="form-control" type="number" min="1" step="1" value="1" th:value="${item.amount}" disabled>
                </td>
                <td th:text="'R$ ' + ${item.amount * item.game.price}">R$: 350,00</td>
                <td>
                  <form th:object="${item}" th:method="delete" th:action="@{checkout/removeitem}">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="idItem" th:value="${item.id}">
                    <button class="btn btn-outline-danger">
                      <i class="fas fa-trash-alt"></i>
                      <span> excluir</span>
                    </button>
                  </form>
                </td>
              </tr>
              </tbody>
          </table>

            <form th:object="${order}" th:method="POST" th:if="${customer.cart.itemList.size() != 0}">
              <input th:field="*{customer}" th:value="${customer.id}" hidden/>
              <input th:field="*{shippingTax}" hidden id="shippingTax"/>
              <input th:field="*{coupon}" hidden id="coupon"/>

              <div class="d-flex justify-content-between flex-wrap col-12">

                <div class="p-4 rounded bg-form col-12 col-md-6">
                  <small th:class="${customer.documents.isEmpty() || customer.address.isEmpty()} ? 'd-block text-justify text-info' : 'd-none'">
                    Para darmos sequência no pagamento é necessários alguns dados, será rapidinho, prometo :D
                  </small>
                  <h5 class="text-center">Dados Pessoais</h5>
                  <hr />
                  <div class="form-group">
                    <label for="document">Documento</label>
                    <select id="document" class="form-control" required>
                      <option value="">Selecione o documento</option>
                      <option th:each="document : ${customer.documents}" th:value="${document.id}"
                              th:text="${document.documentType.name} + ': ' + ${document.code}"></option>
                      <option value="-1">Cadastre um novo</option>
                    </select>
                  </div>

                  <h5 class="text-center mt-5">Endereço de Entrega</h5>
                  <hr />
                  <div class="form-group">
                    <label for="delivery_address_selector">Selecione um endereço</label>
                    <select id="delivery_address_selector" class="form-control" required th:field="*{address}">
                      <option value="">Escolha um endereço de entrega</option>
                      <th:block th:if="${!customer.address.isEmpty()}">
                        <option data-toggle="tooltip" data-placement="top"
                                th:each="address : ${customer.address}"
                                th:value="${address.id}"
                                th:text="${address.street}"
                                th:title="${address.street}"
                                th:if="${address.addressType.getId() == 1}"
                                th:data="${address.postalCode}"
                        >
                        </option>
                      </th:block>
                      <option value="-1">
                        Cadastre um novo endereço
                      </option>
                    </select>
                  </div>

                  <h5 class="text-center mt-5">Endereço de Cobrança</h5>
                  <hr />
                  <div class="form-group">
                    <label for="delivery_address_selector">Selecione um endereço</label>
                    <select id="billing_address_selector" class="form-control" required th:field="*{addressBilling}">
                      <option value="">Escolha um endereço de entrega</option>
                      <th:block th:if="${!customer.address.isEmpty()}">
                        <option data-toggle="tooltip" data-placement="top"
                                th:each="address : ${customer.address}"
                                th:value="${address.id}"
                                th:text="${address.street}"
                                th:title="${address.street}"
                                th:if="${address.addressType.getId() == 2}"></option>
                      </th:block>
                      <option value="-1">
                        Cadastre um novo endereço
                      </option>
                    </select>
                  </div>

                  <h5 class="text-center mt-5">Cartões</h5>
                  <hr />
                  <div id="payment_method_card">
                    <div class="form-group">
                      <label>Selecione um cartão</label>
                      <select class="custom-select credit-card-selector" required
                              th:field="*{paymentMethodList[0].creditCard.id}" onchange="changeCreditCardOption(event)">
                        <option value="">Selecione um cartão</option>
                        <th:block th:if="${!customer.creditCards.isEmpty()}">
                          <option data-toggle="tooltip" data-placement="top"
                                  th:each="creditCard : ${customer.creditCards}"
                                  th:value="${creditCard.id}"
                                  th:text="${creditCard.number.substring(creditCard.number.length() - 4)}"
                                  th:title="${creditCard.number.substring(creditCard.number.length() - 4)}"></option>
                        </th:block>
                        <option value="-1">Cadastrar Novo</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label>Digite o valor do pagamento:</label>
                      <input type="number" min="10" class="form-control credit-card-value"  placeholder="10.00" required
                             name="paymentMethodList[0].paymentValue" onchange="validationValue(event)"/>
                    </div>
                  </div>

                  <div class="form-group mt-3">
                    <button class="btn btn-outline-info btn-block" id="add_payment_method">
                      <i class="fas fa-plus-circle"></i>
                      <span> Adicionar mais um método de pagamento</span>
                    </button>
                  </div>

                </div>

                <div class="p-4 rounded bg-form col-12 col-md-5 mt-5 mt-md-0">
                  <div class="">
                    <h5 class="text-center">Resumo do pedido</h5>
                    <hr />
                    <div class="d-flex flex-wrap justify-content-between">
                      <span th:text="${customer.cart.itemList.size()} + ' produtos'">1 produto</span>
                      <span th:text="'R$ ' + ${total}">R$ 300,00</span>
                    </div>

                    <div class="d-flex flex-wrap justify-content-between">
                      <span>Frete</span>
                      <span id="shippingTaxShow">R$ 0</span>
                    </div>

                    <div class="d-flex flex-wrap justify-content-between">
                      <span>Saldo na carteira:</span>
                      <span>R$ 0,00</span>
                    </div>

                    <div class="flex-wrap justify-content-between d-none" id="cupom_div">
                      <span>Cupom de desconto:</span>
                      <div class="d-flex">
                        <span class="mr-1">R$ </span>
                        <div id="cupon_layer"></div>
                      </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-between mt-4">
                      <input class="form-control col-8 mr-3" placeholder="Insira seu cupom aqui" id="cupom_input"/>
                      <button class="btn btn-outline-success col-3" onclick="cupomVerify(event)" id="apply_coupon">Aplicar</button>
                    </div>
                    <hr />
                    <div class="d-flex flex-wrap justify-content-between">
                      <h5 class="font-weight-bold">Total:</h5>
                      <div class="d-flex">
                        <span class="font-weight-bold mr-1">R$: </span>
                        <span class="font-weight-bold" id="total" th:text="${total}">310,00</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Button trigger modal -->
              <button id="create-new-credit-card" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreditCard" hidden>
                Cadastrar novo cartão de crédito
              </button>

              <button type="submit" class="btn btn-success" id="final_step">
                Finalizar Compra
              </button>
            </form>

            <h1 class="text-black-50 text-center" th:if="${customer.cart.itemList.size() == 0}">Seu Carrinho está vazio</h1>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Modal -->
        <div class="modal fade" id="modalCreditCard" tabindex="-1" role="dialog" aria-labelledby="modalCCard" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalCCard">Adicionar um novo Cartão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form th:object="${creditCard}" th:method="POST" onsubmit="handleCreditCardSubmit(event)">
                    <div class="form-group">
                      <label for="card_number">Número</label>
                      <input type="text" class="form-control" id="card_number" aria-describedby="numberHelp"
                             placeholder="0000-0000-0000-0000" required th:field="*{number}"/>
                    </div>

                    <div class="form-group">
                      <label for="card_name">Nome Impresso</label>
                      <input type="text" class="form-control" id="card_name" aria-describedby="ownerHelp"
                             placeholder="Mateus J Faria" required th:field="*{owner}"/>
                    </div>

                    <div class="form-group">
                      <label for="card_owner_doc">CPF do Titular</label>
                      <input type="text" class="form-control" id="card_owner_doc" aria-describedby="ownerDocHelp"
                             placeholder="123456798" required th:field="*{ownerDoc}"/>
                    </div>

                    <div class="form-group">
                      <label for="card_cvv">CVV</label>
                      <input type="text" class="form-control"id="card_cvv" aria-describedby="cvvHelp"
                             placeholder="123" required th:field="*{securityCode}"/>
                    </div>

                    <div class="form-group">
                      <label for="card_month">Mês do vencimento</label>
                      <input type="text" class="form-control" id="card_month" aria-describedby="monthValidHelp"
                             placeholder="12" th:field="*{validadeMonth}" required/>
                    </div>

                    <div class="form-group">
                      <label for="card_year">Ano do vencimento</label>
                      <input type="text" class="form-control" id="card_year" aria-describedby="yearValidHelp"
                             placeholder="2030" th:field="*{validadeYear}" required/>
                    </div>

                    <div class="form-group">
                      <label for="card_flag">Bandeira</label>
                      <select id="card_flag" class="custom-select credit-card-selector" th:field="*{banner}">
                        <option data-toggle="tooltip" data-placement="top"
                                th:each="flag : ${banners}"
                                th:value="${flag.id}"
                                th:text="${flag.name}"
                                th:title="${flag.name}"></option>
                      </select>
                    </div>

                    <div class="form-group">
                      <button class="btn btn-success">Salvar Cartão de Crédito</button>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModalButton">Voltar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; A.M Store 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <th:block th:insert="layout/layout :: modal_logout"></th:block>

    <script th:replace="layout/layout :: script"></script>
  </body>
  <script>
    var total = $("#total").text();
    var listPayment = 0

    function handleCreditCardSubmit(event){
        event.preventDefault()
        var form_data = {
            number: $("#card_number").val(),
            owner: $("#card_name").val(),
            ownerDoc: $("#card_owner_doc").val(),
            securityCode: $("#card_cvv").val(),
            validadeMonth: $("#card_month").val(),
            validadeYear: $("#card_year").val(),
            banner: $("#card_flag").val(),
        }

        let url = window.location.href + "/createcreditcard";

        $.ajax({
            method: "POST",
            url: url,
            data: form_data
        }).done(function (data) {
            for(let i = 0; i< $(".credit-card-selector").length; i++){
                var element = document.createElement("Option")
                    element.setAttribute("value", data.id);

                var text = document.createTextNode(data.number)
                element.appendChild(text);

                $(".credit-card-selector")[i].appendChild(element)
            }

            alert("Adicionado com sucesso")
            $("#closeModalButton").click()
        }).fail((resp) => {
            console.log(resp);
            alert("Falha no processo, revise as informações do cartão")
        });
    }

    $("#add_payment_method").on("click", function(event) {
        event.preventDefault();
        let payment_dom = $("#payment_method_card")

        $("#payment_method_card").clone().insertBefore(this)
        payment_dom.removeAttr("id")
        payment_dom.attr("id", "payment_method_card" + listPayment)

        for(let i = 0; i< $(".credit-card-selector").length; i++){
            let select_dom_credit_card = $(".credit-card-selector")[i]
            let input_dom_credit_card_value = $(".credit-card-value")[i]

            select_dom_credit_card.removeAttribute("name");
            input_dom_credit_card_value.removeAttribute("name");

            select_dom_credit_card.setAttribute("name", "paymentMethodList[" + i + "].creditCard.id")
            input_dom_credit_card_value.setAttribute("name", "paymentMethodList[" + i + "].paymentValue")
        }

        listPayment += 1
    })

    $("#document_type").change(function () {
      switch (this.value){
        case "1":
          $("#new_document_code").mask('00.000.000-0')
          break;
        case "2":
          $("#new_document_code").mask('000.000.000-00')
          break;
        case "3":
          $("#new_document_code").mask('00.000.000/0000-00')
          break;
      }
    })

    $("#document").change(function () {
      if(this.value == "-1") {
        $("#new_document_form").removeClass('d-none');
        $("#new_document_form").addClass('d-block');

        $("#new_document_form").prop('disabled', false);
        $("#document_step").prop('disabled', true);
      } else {
        $("#new_document_form").removeClass('d-block');
        $("#new_document_form").addClass('d-none');

        $("#new_document_form").prop('disabled', true);
        $("#document_step").prop('disabled', false);
      }

      if(this.value == "") $("#document_step").prop('disabled', true);
    })

    $("#delivery_address_selector").change(function () {
      $('#new_delivery_postalcode').mask('00000-000');

      if(this.value == '-1') {
        $("#new_delivery_address").removeClass('d-none')
        $("#new_delivery_address").addClass('d-block')

        $("#new_delivery_address").prop('disabled', false)
        $("#delivery_address_step").prop('disabled', true)
      } else {
        $("#new_delivery_address").removeClass('d-block')
        $("#new_delivery_address").addClass('d-none')

        $("#new_delivery_address").prop('disabled', true)
        $("#delivery_address_step").prop('disabled', false)
      }

      if(this.value == "") $("#delivery_address_step").prop('disabled', true);
    })

    $("#billing_address_selector").change(function () {
      $('#new_billing_postalcode').mask('00000-000');

      if(this.value == '-1') {
        $("#new_billing_address").removeClass('d-none')
        $("#new_billing_address").addClass('d-block')

        $("#new_billing_address").prop('disabled', false)
        $("#billing_address_step").prop('disabled', true);
      } else {
        $("#new_billing_address").removeClass('d-block')
        $("#new_billing_address").addClass('d-none')

        $("#new_billing_address").prop('disabled', true)
        $("#billing_address_step").prop('disabled', false);
      }

      if(this.value == "") $("#billing_address_step").prop('disabled', true);
    })

    function changeCreditCardOption(event) {
        if(event.target.value == '-1') {
            $("#create-new-credit-card").click()
        }

        if(this.value == "") $("#final_step").prop('disabled', true);
    }

    function cupomVerify(event) {
      event.preventDefault();

      let code = $("#cupom_input").get(0).value

      if(code.length >= 6) {

        $.ajax(window.location.href + "/findcoupon?code=" + code).done((resp) => {
            console.log(resp)

            let totalCoupon = resp.value

            $("#coupon").val(resp.id)

            if($("#shippingTax").val().length > 0) {
                $("#total").text(Number($("#shippingTax").val()) + Number(total) - Number(totalCoupon))
            } else {
                $("#total").text(Number(total) - totalCoupon)
            }

            $("#cupom_div").addClass('d-flex')
            $("#cupom_div").removeClass('d-none')
            $("#cupon_layer").empty();
            $("#cupon_layer").append("<span id='couponShow'>" + totalCoupon +"</span>");

        }).fail((resp) => {
            console.log(resp);
        });
      } else {
        if($("#shippingTax").val().length > 0) {
            $("#total").text(Number(total) + Number($("#shippingTax").val()))
        } else {
            $("#total").text(total)
        }

        $("#coupon").val("")
        $("#cupom_div").removeClass('d-flex')
        $("#cupom_div").addClass('d-none')
      }
    }

    $("#delivery_address_selector").on("change", function(event) {
        let cep = $(this).children("option:selected").get(0).attributes.data.value

        if(Number($(this).val()) <=0) {
            if($("#coupon").val().length > 0){
                $("#total").text(Number(total) + Number($("#couponShow").text()))
            } else {
                $("#total").text(Number(total))
            }
        }

        $.ajax(window.location.href + "/calculatetax?postalcode=" + cep).done((resp) => {
            $("#shippingTax").val(resp)
            $("#shippingTaxShow").text("R$ " + resp)

            if($("#coupon").val().length > 0){
                $("#total").text(Number(resp) + Number(total) + Number($("#couponShow").text()))
            } else {
                $("#total").text(Number(resp) + Number(total))
            }
        }).fail((resp) => {
            console.log(resp);
        });
    })
  </script>
</html>
