<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:insert="layout/layout :: head(${'A.M. Store | Checkout'})">
  </head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="container-fluid">
      <div id="content-wrapper" class="d-flex flex-column">
        <nav th:insert="layout/layout :: navbar"></nav>
        <!-- Main Content -->
        <div id="content">
          <!-- Begin Page Content -->
          <div class="container">
            <table class="table-responsive w-100 table d-block d-md-table table-hover mt-4 mb-4">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Jogo</th>
                <th scope="col">Plataforma</th>
                <th scope="col">Quantidade</th>
                <th scope="col" colspan="2">Valor</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="item : ${customer.cart.itemList}">
                <th scope="row" th:text="${customer.cart.itemList.indexOf(item)}">1</th>
                <td th:text="${item.game.title}">Resident Evil 3</td>
                <td th:text="${item.game.platform.name}">PS4</td>
                <td>
                  <input class="form-control" type="number" min="1" step="1" value="1" th:value="${item.amount}" disabled>
                </td>
                <td th:text="'R$ ' + ${item.amount * item.game.price}">R$: 350,00</td>
                <td><i class="fas fa-trash"></i> Excluir</td>
              </tr>
              </tbody>
          </table>

            <form th:object="${order}" th:method="POST">
              <input th:field="*{customer}" th:value="${customer.id}" hidden/>

              <div class="d-flex justify-content-between flex-wrap col-12">

                <div class="p-4 rounded bg-form col-12 col-md-6">
                  <small th:class="${customer.documents.isEmpty() || customer.address.isEmpty()} ? 'd-block text-justify text-info' : 'd-none'">
                    Para darmos sequência no pagamento é necessários alguns dados, será rapidinho, prometo :D
                  </small>
                  <h5 class="text-center">Dados Pessoais</h5>
                  <hr />
                  <div class="form-group">
                    <label for="document">Documento</label>
                    <select id="document" class="form-control" required>
                      <option value="">Selecione o documento</option>
                      <option th:each="document : ${customer.documents}" th:value="${document.id}" th:text="${document.documentType.name} + ': ' + ${document.code}"></option>
                      <option value="-1">Cadastre um novo</option>
                    </select>
                  </div>

                  <h5 class="text-center">Endereço de Entrega</h5>
                  <hr />
                  <div class="form-group">
                    <label for="delivery_address_selector">Selecione um endereço</label>
                    <select id="delivery_address_selector" class="form-control" required th:field="*{address}">
                      <option value="">Escolha um endereço de entrega</option>
                      <th:block th:if="${!customer.address.isEmpty()}">
                        <option data-toggle="tooltip" data-placement="top"
                                th:each="address : ${customer.address}"
                                th:value="${address.id}"
                                th:text="${address.street}"
                                th:title="${address.street}"
                                th:if="${address.addressType.getId() == 1}"
                        >
                        </option>
                      </th:block>
                      <option value="-1">
                        Cadastre um novo endereço
                      </option>
                    </select>
                  </div>

                  <h5 class="text-center">Endereço de Cobrança</h5>
                  <hr />
                  <div class="form-group">
                    <label for="delivery_address_selector">Selecione um endereço</label>
                    <select id="billing_address_selector" class="form-control" required th:field="*{addressBilling}">
                      <option value="">Escolha um endereço de entrega</option>
                      <th:block th:if="${!customer.address.isEmpty()}">
                        <option data-toggle="tooltip" data-placement="top"
                                th:each="address : ${customer.address}"
                                th:value="${address.id}"
                                th:text="${address.street}"
                                th:title="${address.street}"
                                th:if="${address.addressType.getId() == 2}"></option>
                      </th:block>
                      <option value="-1">
                        Cadastre um novo endereço
                      </option>
                    </select>
                  </div>

                  <h5 class="text-center">Cartões</h5>
                  <hr />
                  <div id="payment_method_card">
                    <div class="form-group">
                      <label for="credit_card_selector"
                      >Selecione um cartão</label
                      >
                      <select class="custom-select" id="credit_card_selector" required th:field="*{paymentMethodList[0].creditCard.id}">
                        <option value="">Selecione um cartão</option>
                        <th:block th:if="${!customer.creditCards.isEmpty()}">
                          <option data-toggle="tooltip" data-placement="top"
                                  th:each="creditCard : ${customer.creditCards}"
                                  th:value="${creditCard.id}"
                                  th:text="${creditCard.number.substring(creditCard.number.length() - 4)}"
                                  th:title="${creditCard.number.substring(creditCard.number.length() - 4)}"></option>
                        </th:block>
                        <option value="-1">Cadastrar Novo</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="card[0]">Digite o valor do pagamento:</label>
                      <input type="number" min="10" class="form-control" id="card[0]" placeholder="10.00" required name="paymentMethodList[0].paymentValue"/>
                    </div>
                  </div>

                </div>

                <div class="p-4 rounded bg-form col-12 col-md-5 mt-5 mt-md-0">
                  <div class="">
                    <h5 class="text-center">Resumo do pedido</h5>
                    <hr />
                    <div class="d-flex flex-wrap justify-content-between">
                      <span>1 produto</span>
                      <span>R$ 300,00</span>
                    </div>

                    <div class="d-flex flex-wrap justify-content-between">
                      <span>Frete</span>
                      <span>R$ 20,00</span>
                    </div>

                    <div class="d-flex flex-wrap justify-content-between">
                      <span>Saldo na carteira:</span>
                      <span>R$ 0,00</span>
                    </div>

                    <div class="flex-wrap justify-content-between d-none" id="cupom_div">
                      <span>Cupom de desconto:</span>
                      <div id="cupon_layer"></div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-between mt-4">
                      <input class="form-control col-8 mr-3" placeholder="Insira seu cupom aqui" id="cupom_input"/>
                      <button class="btn btn-outline-success col-3" onclick="cupomVerify()">Aplicar</button>
                    </div>
                    <hr />
                    <div class="d-flex flex-wrap justify-content-between">
                      <h5 class="font-weight-bold">Total:</h5>
                      <span class="font-weight-bold">R$: 310,00</span>
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-success" id="final_step" disabled>
                Finalizar Compra
              </button>


            </form>

            <div class="d-flex justify-content-around flex-wrap">
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; A.M Store 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <th:block th:insert="layout/layout :: modal_logout"></th:block>

    <script th:replace="layout/layout :: script"></script>
  </body>
  <script>
    $("#document_type").change(function () {
      switch (this.value){
        case "1":
          $("#new_document_code").mask('00.000.000-0')
          break;
        case "2":
          $("#new_document_code").mask('000.000.000-00')
          break;
        case "3":
          $("#new_document_code").mask('00.000.000/0000-00')
          break;
      }
    })

    $("#document").change(function () {
      if(this.value == "-1") {
        $("#new_document_form").removeClass('d-none');
        $("#new_document_form").addClass('d-block');

        $("#new_document_form").prop('disabled', false);
        $("#document_step").prop('disabled', true);
      } else {
        $("#new_document_form").removeClass('d-block');
        $("#new_document_form").addClass('d-none');

        $("#new_document_form").prop('disabled', true);
        $("#document_step").prop('disabled', false);
      }

      if(this.value == "") $("#document_step").prop('disabled', true);
    })

    $("#delivery_address_selector").change(function () {
      $('#new_delivery_postalcode').mask('00000-000');

      if(this.value == '-1') {
        $("#new_delivery_address").removeClass('d-none')
        $("#new_delivery_address").addClass('d-block')

        $("#new_delivery_address").prop('disabled', false)
        $("#delivery_address_step").prop('disabled', true)
      } else {
        $("#new_delivery_address").removeClass('d-block')
        $("#new_delivery_address").addClass('d-none')

        $("#new_delivery_address").prop('disabled', true)
        $("#delivery_address_step").prop('disabled', false)
      }

      if(this.value == "") $("#delivery_address_step").prop('disabled', true);
    })

    $("#billing_address_selector").change(function () {
      $('#new_billing_postalcode').mask('00000-000');

      if(this.value == '-1') {
        $("#new_billing_address").removeClass('d-none')
        $("#new_billing_address").addClass('d-block')

        $("#new_billing_address").prop('disabled', false)
        $("#billing_address_step").prop('disabled', true);
      } else {
        $("#new_billing_address").removeClass('d-block')
        $("#new_billing_address").addClass('d-none')

        $("#new_billing_address").prop('disabled', true)
        $("#billing_address_step").prop('disabled', false);
      }

      if(this.value == "") $("#billing_address_step").prop('disabled', true);
    })

    $("#credit_card_selector").change(function () {
      if(this.value == '-1') {
        $("#new_credit_card").removeClass('d-none')
        $("#new_credit_card").addClass('d-block')

        $("#card_number").mask('9999 9999 9999 9999')
        $("#card_cvv").mask('999')
        $("#card_cc").mask('99/99')

        $("#new_credit_card").prop('disabled', false)
        $("#final_step").prop('disabled', true)
      } else {
        $("#new_credit_card").removeClass('d-block')
        $("#new_credit_card").addClass('d-none')

        $("#new_credit_card").prop('disabled', true)
        $("#final_step").prop('disabled', false)
      }

      if(this.value == "") $("#final_step").prop('disabled', true);
    })

    function cupomVerify() {
      console.log($("#cupom_input").get(0).value)
      if($("#cupom_input").get(0).value == 12345) {
        $("#cupom_div").addClass('d-flex')
        $("#cupom_div").removeClass('d-none')
        $("#cupon_layer").append("<span>R$ -" + 10 + ",00</span>");
      } else {
        $("#cupom_div").removeClass('d-flex')
        $("#cupom_div").addClass('d-none')
      }

    }
  </script>
</html>
