<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:insert="layout/layout :: head(${'A.M. Store | Checkout'})">
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="container-fluid">
      <div id="content-wrapper" class="d-flex flex-column">
        <nav th:insert="layout/layout :: navbar"></nav>
        <!-- Main Content -->
        <div id="content">
          <!-- Begin Page Content -->
          <div class="container">
            <div class="col-12 table-responsive">
              <table class="table table-hover mt-4 mb-4">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pedido</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                    <th scope="col" colspan="2">Solicitar Troca</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><a href="#">0000001</a></td>
                    <td>22/fevereiro/2021 21:40</td>
                    <td><span class="badge badge-success">Entregue</span></td>
                    <td>R$: 370,00</td>
                    <td>
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        ><i class="fas fa-exchange-alt mr-2"></i>Solicitar
                        Troca</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td><a href="#">0000002</a></td>
                    <td>22/fevereiro/2021 21:40</td>
                    <td><span class="badge badge-warning">Transporte</span></td>
                    <td>R$: 370,00</td>
                    <td>
                      <span>
                        <i class="fas fa-exchange-alt mr-2"></i>
                        Produto em envio
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td><a href="#">0000001</a></td>
                    <td>22/fevereiro/2021 21:40</td>
                    <td><span class="badge badge-info">Em troca</span></td>
                    <td>R$: 370,00</td>
                    <td>
                      <span>
                        <i class="fas fa-exchange-alt mr-2"></i>
                        Troca em andamento
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Solicitar Troca
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Motivo da Troca</label>
                    <textarea
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Descreva o motivo brevemente"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder="Senha"
                      hidden
                    />
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cancelar
                </button>
                <button type="button" class="btn btn-primary">
                  Enviar Solicitação
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; A.M Store 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <th:block th:insert="layout/layout :: modal_logout"></th:block>

    <script th:replace="layout/layout :: script"></script>
  </body>
</html>
