<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:insert="layout/layout :: head(${'A.M. Store | Checkout'})">
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="container-fluid">
      <div id="content-wrapper" class="d-flex flex-column">
        <nav th:insert="layout/layout :: navbar"></nav>
        <!-- Main Content -->
        <div id="content">
          <!-- Begin Page Content -->
          <div class="container">
            <div class="col-12 table-responsive">
              <table class="table table-hover mt-4 mb-4">
                <thead>
                  <tr>
                    <th scope="col">Pedido</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="order : ${customer.orderList}">
                    <td><a href="#" th:text="${order.id}">0000001</a></td>
                    <td th:text="${order.createdAt}">22/fevereiro/2021 21:40</td>
                    <td>
                      <th:block th:switch="${order.status.id}">
                        <div th:case="'1'">
                          <span class="badge badge-info">EM PROCESSAMENTO</span>
                        </div>
                        <div th:case="'2'">
                          <span class="badge badge-warning">EM TRANSPORTE</span>
                        </div>
                        <div th:case="'3'">
                          <span class="badge badge-success">ENTREGUE</span>
                        </div>
                        <div th:case="'4'">
                          <span class="badge badge-info">EM TRANSPORTE</span>
                        </div>
                      </th:block>

                    </td>
                    <td th:text="'R$ ' + ${order.total}">R$: 370,00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <th:block th:if="${customer.ordersDelivered().size > 0}">
          <hr th:class="text-black-50" />

          <h5 class="text-center">Problemas com as entregas? Solicite a troca aqui</h5>

          <a class="text-center" href="#" data-toggle="modal" data-target="#modalDevolution">
            <i class="fas fa-exchange-alt mr-2"></i>
            Solicitar Troca
          </a>

          <!-- Modal -->
          <div class="modal fade" id="modalDevolution" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Solicitar Troca
                  </h5>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <form th:object="${devolution}" th:method="POST">
                    <div class="form-group">
                      <label for="reason">Motivo da Troca</label>
                      <textarea class="form-control" id="reason" placeholder="Descreva o motivo brevemente"
                                th:field="*{reason}" maxlength="254" required></textarea>
                    </div>

                    <div th:class="form-group">
                      <label for="orderId">Selecione o Pedido que deseja realizar a troca</label>
                      <select id="orderId" th:field="*{order}" class="form-control" required>
                        <option th:each="orderDelivered : ${customer.ordersDelivered()}" th:value="${orderDelivered.id}"
                                th:text="${orderDelivered.id}"></option>
                      </select>
                    </div>

                    <button class="btn btn-primary">
                      Enviar Solicitação
                    </button>
                  </form>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancelar </button>
                </div>
              </div>
            </div>
          </div>
        </th:block>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; A.M Store 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <th:block th:insert="layout/layout :: modal_logout"></th:block>

    <script th:replace="layout/layout :: script"></script>
  </body>
</html>
